@model TravelBlog.Models.Person

<h2>Details for @Html.DisplayFor(model => model.Name)</h2>

@foreach(var join in Model.LocationPerson)
{
    Location: @join.Location.Name
}

@Html.ActionLink("Back Home", "Index", "Location")

